* {
    list-style: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#nofoundtext{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin: 0px;
    text-align: center;
    padding: 0px;
    font-size: 30px;
}
#noResult {
    display: none;
    align-items: center;
    justify-content: center;
}

#crab {
    width: 40%;
    /* animation: .8s linear 1s infinite alternate rotation; */

}    

.lienListItem:hover {
    color: black !important;
    font-family: 'Lato', sans-serif !important;
    font-weight: 900 !important;
}

.row [class*='col-'] {
    transition: all 0.3s ease-out;
}

i.fa-chevron-down {
    margin: 5px 15px 5px 0px;
    color: #ffffff;
}

.btn_filtre::placeholder {
    color: #ffffff;
}

.liste_ingredient, .liste_instruction {
    padding-bottom: 30px;
}

.liste_ingredient {
    display: block;
    display: -webkit-box;
    height: 109px;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text_instruction {
    display: block;
    display: -webkit-box;
    height: 109px;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

span {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.instruction {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 109px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 40px;
    overflow-x: hidden;
}

header {
    margin-bottom: 20px;
}

#search_bar::after {
    font-family: 'Font Awesome 5 Free';
    content: "\f002";
}

section.filtre {
    margin-bottom: 20px;
}

input {
    outline: none;
    border-style: none;
    background-color: transparent;
}

#resultSearchIngredient {
    display: none;
    top: 0;
    width: 100%;
    padding: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #ffffff;
    margin-top: 40px;
    position: absolute;
    z-index: 9999;
    background-color: #6aa1f3;
}

#resultSearchAppliance {
    display: none;
    top: 0;
    width: 100%;
    padding: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #ffffff;
    margin-top: 40px;
    position: absolute;
    z-index: 9999;
    background-color: #68D9A4;
}

#resultSearchUstensil {
    display: none;
    top: 0;
    width: 100%;
    padding: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #ffffff;
    margin-top: 40px;
    position: absolute;
    z-index: 9999;
    background-color: #ED6454;
}

#menu_deroulant_btn {
    position: relative;
}

.dropdown-open .suggestionItems {
    display: block !important;
    width: 100%;
}

.dropdown-open .btn_filtre {
    width: 80%;
}

.dropdown-open .dropdown-button {
    width: 100% !important;
}

.dropdown-close .suggestionItems {
    display: none !important;
}

#suggestionItemsIngredient {
    display: none;
    padding: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #ffffff;
    column-count: 3;
    margin-top: 50px;
    position: absolute;
    z-index: 9999;
    background-color: #3282F7;
}

#suggestionItemsAppareil {
    display: none;
    padding: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #ffffff;
    column-count: 3;
    margin-top: 50px;
    position: absolute;
    z-index: 9999;
    background-color: #68D9A4;
}

#suggestionItemsUstensiles {
    display: none;
    padding: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #ffffff;
    column-count: 3;
    margin-top: 50px;
    position: absolute;
    z-index: 9999;
    background-color: #ED6454;
}

#button_appareil {
    background-color: #68D9A4;
    position: relative;
}

#button_ingredient {
    background-color: #3282F7;
    position: relative;
}

#button_ustensiles {
    background-color: #ED6454;
    position: relative;
}

.button_ingredient_selectionne {
    background-color: #3282F7;
    color: #ffffff;
}

.button_ustensile_selectionne {
    background-color: #ED6454;
    color: #ffffff;
}

.button_appareil_selectionne {
    background-color: #68D9A4;
    color: #ffffff;
}
.button_searchPrincipal_selectionne{
    background-color: #E7E7E7;
    color: black;
}

.btn_filtre {
    color: #ffffff;
    padding: 15px 10px;
    margin-right: 10px;
}

header {
    width: 100%;
}

.barre_recherche {
    margin-bottom: 20px;
    background-color: #E7E7E7;
}

.information_article {
    background-color: #E7E7E7;
}

.image_article {
    background-color: #C7BEBE;
    height: 178px;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: large;
    padding-top: 15px;
}

.timer {
    padding: 15px 0px 0px 0px;
}

.t {
    background-color: #E7E7E7;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

@media (min-width: 1200px){
    body{
        max-width: 1530px;
        margin: auto;
    }
}

 @media (max-width: 570px) {
    body{
        max-width: 900px;
        margin: auto;
    }
.btn_filtre{
    padding: 15px 7px;
    width: 80%;
}
 }